body{
    margin: 0;
    padding: 0;
}

.fundo{
    background-color: rgb(173, 209, 232);
    height: 100vh;
    color:rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0,0.2);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.botao { 
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(172, 179, 225);
    border: none;
    color: #fff
}
.botao:hover {
    background-color: rgb(141, 147, 184);
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}